// app global css in SCSS form
body {
  background-color: #333;
  color: white;
}
// for weird autofill color
.q-field--dark {
  input,
  select {
    color: #fff;
    -webkit-text-fill-color: white;
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }
}
