@font-face {
  font-family: Beleren2016-Bold;
  src: url(./fonts/Beleren2016_Bold.woff) format('woff'),
    url(./fonts/Beleren2016_Bold.ttf) format('truetype'),
    url(./fonts/Beleren2016_Bold.svg) format('svg');
}

@mixin mtg-font-bold {
  font-family: Beleren2016-Bold;

  .is-bold-loading & {
    color: transparent;

    * {
      color: transparent;
    }
  }
}

.mtg-font-bold {
  @include mtg-font-bold;
}
